*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,li{
    list-style-type: none;
}
*:before, *:after{
	box-sizing: border-box;
}
body{
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    color: $title-color;
    line-height: 1;
    background-color: white;
}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;
}
// body
.wrapper{
    max-width: 1920px;
    margin: 0 auto;
}
.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;    
    padding-bottom: 100px; 
    // &:last-child{
    //     padding-bottom: 0;
    // }  
}
