.news{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    &-items{
        &-image{
            height: 50vh;
            width: 100%;
            object-fit: cover;
        }
        &-info{
            position: relative;
            display: flex;
            justify-content: space-between;
            bottom: 60px;
            // background: red;
            &-right{
                display: flex;
            }
            &-date,
            &-author,
            &-icon{
                padding: 20px;
                text-align: center;
            }
            &-author{
                color: $text-color;
            }
            &-date{
                background: linear-gradient(
                    to top right,
                    rgba(black, 0.7),
                    rgba(gray, 0.6),
                );
                color: $primary-color;
            }
            &-icon{
                cursor: pointer;
                background-color: $button-color;
                color: white;
                font-size: 20px;               
            }
        }
        &-content{
            margin-top: -60px;
            padding-top: 20px;
            &>a{
                color: $title-color;
            }
            &-title{
                padding-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width:415px) {
    .news{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: none;
    }    
}